*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarif{
    margin-top: 50px;
}


.monthly-container{
    margin-top: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle{
    margin-left: 100px;
    margin-top: 180px;
    
}

.monthly-container .toggle{
    position: absolute;
    transform: translate(-50% -50%);
    top: 0;
    left: 0;
    width: 90px;
    height: 50px;
    background: #CFD8EF;
    border-radius: 30px;
    transform: 0.3s;

    
}

.monthly-container .toggle .toggle-button{
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    width: 35px;
    height: 35px;
    background: #feffff;
    border-radius: 50px;
    cursor: pointer;
    transform: 0.3s;

}

.toggle.active{
    background: #10D8C4;
}

.monthly-container .toggle.active .toggle-button{
    left: 45%;

}