@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    background-image: url("./images/bg-pattern.svg");
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.patern-image{
    display: flex;
    margin: 70px auto;
}

.headline{
    padding: 32px;
    margin-top: -170px;
    text-align: center;
}

.headline h1{
    font-size: 20px;
    font-weight: 800;
    color: #293356;
}

.headline p{
    font-size: 13px;
    font-weight: 600;
    color: #848EAD;

}

.card{
    width: 327px;
    height: auto;
    background-color: #e8ebf4;
    border-radius: 8%;
}


.tarif{
    padding-top: 32px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.progress-bar{
    display: flex;
    margin: auto;

}

.rangeClass{
    width: 280px;
    -webkit-appearance: none;
    border-radius: 5px;
}

.page-views{
    font-size: 12px;
    text-transform: uppercase;
    color: #848EAD;
    font-weight: 800;

}





.monthly-container{
    margin-top: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle{
    margin-left: 100px;
    margin-top: 180px;
    
}

.monthly-container .toggle{
    position: absolute;
    transform: translate(-50% -50%);
    top: 0;
    left: 0;
    width: 90px;
    height: 50px;
    background: #CFD8EF;
    border-radius: 30px;
    transform: 0.3s;

    
}

.monthly-container .toggle .toggle-button{
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    width: 35px;
    height: 35px;
    background: #feffff;
    border-radius: 50px;
    cursor: pointer;
    transform: 0.3s;

}

.toggle.active{
    background: #10D8C4;
}

.monthly-container .toggle.active .toggle-button{
    left: 45%;

}